.flash-green {
    animation: flash-green 0.5s;
  }
  
  .flash-red {
    animation: flash-red 0.5s;
  }
  
  @keyframes flash-green {
    0% { background-color: #fff; }
    50% { background-color: #c6f6d5; }
    100% { background-color: #fff; }
  }
  
  @keyframes flash-red {
    0% { background-color: #fff; }
    50% { background-color: #C75B7A; }
    100% { background-color: #fff; }
  }